/*universal selector*/
* {
    color: black;
}
body {
    background: linear-gradient(180deg, rgb(98, 209, 246), white);
}
/*class selector*/
.yellow_text {
    color: yellow;
    text-align: center;
    text-decoration: underline;
}
div {
    color: black;
}
/*id selector*/
#green {  
    color: red;
}
/*Селектор нащадка(Від предків до нащадків)*/
div p {
    text-align: right;
    text-decoration: line-through;
}
/*Дочірній селектор*/
ol >li {
    color: blue;
    background-color: white;
}
/*Сестринські(сіблінгові) селектори*/
/*h1 + p*/
/*h1 ~ p*/

/*Google fonts - сайт шрифтів*/
li {
    font-family:'Franklin Gothic Medium';
}
a:visited{
    color: red;
}
a:link {
    color: orange;
}
ol >li:hover{
    background-color: aqua;
}
/*:nth-child(3n)*/
p::first-line{
    color: green;
}
/*Змінна*/
element {
    --main-bg-color: brown;
}
/*Правило*/
h1 {text-align: center!important;}
#div_1 {
    width: 50%; 
    height: 100px; 
    background-color: yellow;
    padding: 25px;
    padding-right: 15px;
    border: solid;
    border-radius: 5px 20px 20px 5px;
    margin-bottom: 50px;
    box-shadow: 3px 3px 1px yellowgreen;
}
#div_2 {
    border: none;
    width: 300px;
    height: 50px;
    text-align: left;
    background-color: aqua;
    border-radius: 5px 20px 5px 20px;
    margin-top: 40px;
    padding-left: 5px;
}
.conteiner {
    display: flex; 
    flex-direction: row;
}
.blue_bac {
    background-color: blue;
    box-shadow: 3px 3px 1px gray;
}
.submit {
    background-color: blue;
}
.submit:hover {
    background-color: transparent;
}
/*background-image: url("img/назва.png");*/